In [2]:
import psycopg2
import pandas as pd

#### Create a database connection

In [3]:
def create_database():
    #Connect to default database
    conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=root")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    #Create sparkify database with utf-8 encoding
    cur.execute("DROP DATABASE IF EXISTS plants")
    cur.execute("CREATE DATABASE plants")

    #close connection to default database
    conn.close()
    cur.close()

    #connect to sparkify database
    conn = psycopg2.connect("host=localhost dbname=plants user=postgres password=root")
    cur = conn.cursor()

    return cur, conn

In [ ]:
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [ ]:
def create_tables(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [15]:
crop1 = pd.read_csv("data/crop1.csv")

In [36]:
crop1.head()

          Area                 Item         Element  Year Unit   Value
1  Afghanistan  Almonds, with shell  Area harvested  1976   ha  5900.0
2  Afghanistan  Almonds, with shell  Area harvested  1977   ha  6000.0
3  Afghanistan  Almonds, with shell  Area harvested  1978   ha  6000.0
4  Afghanistan  Almonds, with shell  Area harvested  1979   ha  6000.0

#### Clean Data and rows with null values

In [58]:
print(f"pre crops :{crop1['Value'].isin([0]).sum()}")
crop1 = crop1[crop1['Value'] != 0]
print(f"post crops :{crop1['Value'].isin([0]).sum()}")

pre crops :0
post crops :0

In [37]:
live1 = pd.read_csv("data/live1.csv")

In [66]:
live1.head()

          Area   Item Element  Year  Unit      Value
0  Afghanistan  Asses  Stocks  1961  Head  1300000.0
1  Afghanistan  Asses  Stocks  1962  Head   851850.0
2  Afghanistan  Asses  Stocks  1963  Head  1001112.0
3  Afghanistan  Asses  Stocks  1964  Head  1150000.0
4  Afghanistan  Asses  Stocks  1965  Head  1300000.0

#### clean dataset *isna()* and *isin([0])*

In [ ]:
print(f"Pre live:{live1.isin([0]).sum()}")
live1 = live1[live1['Value'] != 0]
print(f"Post live:{live1.isin([0]).sum()}")

In [4]:
cur,conn = create_database()

In [5]:
crop_create = ("""CREATE TABLE IF NOT EXISTS crop(
Area VARCHAR,
Item VARCHAR,
Element VARCHAR,
Year INT,
Unit VARCHAR,
Value NUMERIC
)
""")

In [6]:
cur.execute(crop_create)
conn.commit()

In [ ]:
live_create = ("""CREATE TABLE IF NOT EXISTS live(
Area VARCHAR,
Item VARCHAR,
Element VARCHAR,
Year INT,
Unit VARCHAR,
Value NUMERIC
)""")

In [ ]:
cur.execute(live_create)
conn.commit()